<div class="card-show-body">
  <div id="banner-content">
    <div></div>
  </div>
  <div id="subcontent">
    <h1><%=@practice.name%></h1>
  </div>
  <div class="container">
<<<<<<< HEAD
    <p><%= @institution.name %></p>
    <p><%= @institution.address %></p>
    <p><%= @institution.phone %></p>
    <p><%= @institution.website %></p>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Hours of operation
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <p><%= @institution.info %></p>
    <%= form_for(@practice, url: new_practice_card_path(@practice), method: :get) do |f| %>
      <%= hidden_field_tag :institution_id, @institution.id %>
      <%= f.submit "create a card with this hospital", class: "btn btn-sm btn-primary" %>
    <% end %>
=======
    <div class="institution-card">
      <div id="inst-header">
        <h3><%= @institution.name %></h3>
      </div>
      <div id="inst-contact-infos">
        <p><%= @institution.address %></p>
        <p><%= @institution.phone %></p>
        <p><%= @institution.website %></p>
      </div>
      <div id="inst-other-infos">
        <p><%= @institution.info %></p>
      </div>
      <%= form_for(@practice, url: new_practice_card_path(@practice), method: :get) do |f| %>
        <%= hidden_field_tag :institution_id, @institution.id %>
        <%= f.submit "create a card with this hospital", class: "btn btn-sm btn-primary" %>
      <% end %>
    </div>
>>>>>>> 0f51622eeb50becdd1760a36a025928acb763466
  </div>
</div>
