<div class="card-show-body">
  <div class="show-header" style="background-image: url(<%='https://img.freepik.com/free-vector/doctor-medical-healthcare-pfrofessional-character-vector_53876-175176.jpg?size=626&ext=jpg&ga=GA1.1.1233122341.1682826076&semt=ais' %>); background-position: center; background-size: cover;">
  </div>
  <div id="subcontent">
    <h1><%=@practice.name%></h1>
  </div>
  <div class="container">
    <div class="institution-card">
      <div id="inst-header">
        <h3><%= @institution.name %></h3>
      </div>
      <div id="inst-contact-infos">
        <p><%= @institution.address %></p>
        <p><%= @institution.phone %></p>
        <p><%= @institution.website %></p>
      </div>
      <div id="inst-other-infos">
        <p><%= @institution.info %></p>
      </div>
    </div>
  </div>
</div>
