<div class="card-show-body">
  <div id="banner-content">
    <div></div>
  </div>
  <div id="subcontent">
    <h1><%=@practice.name%></h1>
  </div>
  <div class="container">
    <img src=<%= @institution.photo_url ? @institution.photo_url : 'https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png'%>>
    <div class="institution-card">
      <div id="inst-header">
        <h3><%= @institution.name %></h3>
      </div>
      <div id="inst-contact-infos">
        <p><%= @institution.address %></p>
        <p><%= @institution.phone %></p>
        <p><%= @institution.website %></p>
      </div>
      <div id="inst-other-infos">
        <p><%= @institution.info %></p>
      </div>
      <div
          id="map"
          data-controller="google-maps"
          data-google-maps-target='googlemap'
          data-lat= '<%= @institution.latitude%>'
          data-lng= '<%= @institution.longitude%>'
          style="width: 100%;
          height: 300px;"
      ></div>
      <div>
        <%= form_for(@practice, url: new_practice_card_path(@practice), method: :get) do |f| %>
          <%= hidden_field_tag :institution_id, @institution.id %>
          <%= f.submit "create a card with this hospital", class: "btn btn-sm btn-primary" %>
        <% end %>
      </div>

      <%# bellow is the link to google map search result(outside the app)%>
      <div>
        <a href=<%="https://www.google.com/maps/dir/?api=1&destination=#{@institution.latitude},#{@institution.longitude}"%>  target="_blank">route</a>
      </div>
    </div>
  </div>
</div>
