<h1>list of words</h1>
<ul>
  <%@studywords.each do |word|%>
    <li><%=word.kanji%>, <%=word.kana%>, <%=word.english%>
    </li>
  <%end%>
</ul>
<h1>list of phrases</h1>
<ul>
  <%@studyphrases.each do |phrase|%>
    <li><%=phrase.kanji%>, <%=phrase.kana%>, <%=phrase.english%></li>
  <%end%>
</ul>
