<div class='container'>
  <div class='row'>
    <div class='col'>
      <h2 class="d-flex justify-content-center mt-5"><%= @practice.name  %></h2>
      <p ><%= @practice.info %></p>
      <p><%= link_to 'search', practice_institutions_path(@practice), class:"userList"%></p>
      <p class="text-decoration-none"><%= link_to 'create card', new_practice_card_path(@practice), class:"userList" %></p>
      <p class="text-decoration-none"><%= link_to 'back', root_path, class:"userList btn btn-outline-danger" %></p>
    </div>
  </div>
</div>
