<div class='container p-5 col-3 mt-3 mb-1 bg-white p-5 border border-info border-opacity-25 rounded-4 shadow p-3 bg-body rounded'>
  <div class='row'>
    <div class='col'>
      <div >
        <h2 class="d-flex justify-content-center mt-2"><%= @practice.name %></h2>
        <p class="d-flex justify-content-center mt-2" ><%= @practice.info %></p>
        <p class="d-flex justify-content-center"><%= link_to 'search', practice_institutions_path(@practice), class:"userList mt-2 btn btn-primary"%></p>
        <p class="text-decoration-none d-flex justify-content-center mt-2"><%= link_to 'create card', new_practice_card_path(@practice), class:"userList btn btn-primary" %></p>
        <p class="text-decoration-none d-flex justify-content-center mt-2"><%= link_to 'back', root_path, class:"userList btn btn-outline-danger" %></p>
      </div>
    </div>
  </div>
</div>
