<div class='container'>
  <div class='row justify-content-center mt-5 '>
    <div class='col-12 col-md-6'>
      <div class='bg-white border border-info border-opacity-25 rounded-4 shadow p-3 bg-body rounded'>
        <h2 class="d-flex justify-content-center mt-2 mb-5"><%= @practice.name %></h2>
        <p class="d-flex justify-content-center m-3 mt-2 mb-5" ><%= @practice.info %></p>
        <div class="d-flex justify-content-between">
          <div class="d-grid gap-2">
            <button type="button" class="m-3 btn custom-button btn-lg btn-block mb-3">
              <p class="font-size-md"><%= link_to "Find the nearest #{@practice.name} around you", practice_institutions_path(@practice), class:"link-light userList" %></p>
            </button>
            <button type="button" class="m-3 btn custom-button btn-lg btn-block mt-3 mb-3"><%= link_to "Create an AI assisted translation card to communicate your symptoms to a doctor", new_practice_card_path(@practice), class:"link-light userList" %></button>
          </div>
        </div>
        <p class="text-decoration-none d-flex justify-content-center mt-2"><%= link_to 'back', root_path, class:"userList btn btn-outline-danger fixed-width" %></p>
      </div>
    </div>
  </div>
</div>
s
