  <%keywords.each do |kwrd|%>
  <div class="<%= studywords.find_by(english: kwrd[2]).nil? ? 'card-show-key' : 'card-show-key alt' %>">
    <div class="jcontainer">
      <div class="key1" data-savewordbutton-target="kna"><%=kwrd[1]%></div>
      <div class="key2" data-savewordbutton-target="knj"><%=kwrd[0]%></div>
    </div>
    <div class="key3" data-savewordbutton-target="eng"><%=kwrd[2]%></div>
    <button class="addword" data-controller="addwordbutton" data-action="click->addwordbutton#toggleSave" data-addwordbutton-target="button"><%= studywords.find_by(english: kwrd[2]).nil? ? '+' : 'o' %></button>
  </div>
<%end%>
<div class="saveword-container">
  <button class="saveword" data-action="click->savewordbutton#saveWords">Save Favorites</button>
</div>
