<%phrases.each do |phrase|%>
  <div class="card-show-phrase">
    <div class="<%= studyphrases.find_by(english: phrase[2]).nil? ? 'card-show-phrase-top' : 'card-show-phrase-top alt' %>">
      <div></div>
      <div class="p1"><%=phrase[2]%></div>
      <button class="addphrase" data-controller="addphrasebutton" data-action="click->addphrasebutton#toggleSave" data-addphrasebutton-target="button"><%= studyphrases.find_by(english: phrase[2]).nil? ? '+' : 'o' %></button>
    </div>
    <div class="card-show-phrase-sub">
      <div class="p2"><%=phrase[1]%></div>
      <div class="p3"><%=phrase[0]%></div>
    </div>
  </div>
<%end%>
<div class="saveword-container">
  <button class="saveword" data-action="click->savephrasebutton#savePhrases">Save Favorites</button>
</div>
