<h1 class="text-center">your cards</h1>
<div class="container">
  <div class="cards">
    <% @cards.each do |card| %>
      <div class="card-index text-center d-flex flex-direction: column justify-content-around">
        <h2 class='mt-3'><%= card.practice.name %></h2>
        <p><%= card.originalcontent %></p>
        <!-- <% @parse_service = CardsParseService.new(card.cardkeywords) %>
        <% keysarray = @parse_service.parse_content %>
        <% keysarray.first.first.each do |k, v|%>
          <p class='mt-2'><%= "#{k} / #{v}" %></p>
        <% end %> -->
        <p>(<%= card.created_at  %>)</p>
        <%= link_to "", card_path(card), class:"card-link" %>
      </div>
    <% end %>
  </div>
</div>
