<%# <h1 class="text-center">your cards</h1> %>
<div id="index-content">
  <h1><i class="fa-regular fa-clipboard" style="padding: 8px">  </i>Your Cards</h1>
  <i>view cards you've created</i>
</div>
<div class="container">
  <div class="cards p-4">
    <% @cards.each do |card| %>
      <div class="cards-index-card text-center d-flex flex-direction: column justify-content-around p-1 mt-2">
        <div>
          <%= link_to card_path(card), class: "trash-icon", data: {class: "trash-icon", turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </div>
        <div>
          <h2 class='mt-3 card-title'><%= card.practice.name %></h2>
        </div>
        <p><%= card.originalcontent %></p>
        <p><%= card.created_at.strftime('%Y-%m-%d')  %></p>
        <%= link_to("view card", card_path(card), {class: "btn custom-button border-color-none"}) %>
      </div>
    <% end %>
  </div>
</div>
