<div id="banner-content">
  <div></div>
</div>
<div class='container' data-controller='spinner'>
  <div id="overlay" data-spinner-target="overlay">
    <div class="spinner" data-spinner-target="spinner"></div>
  </div>
  <%# <div data-spinner-target='spinner' class="spinner"></div> %>
  <div class='row justify-content-center mt-3'>
    <div class='col-12 col-md-6'>
      <div class="bg-white border border-info border-opacity-25 rounded-4 shadow p-3 bg-body rounded">
        <div class="create-inst-infos justify-content-center px-2">
          <%if @institution.present?%>
            <div class="instdisp">
              <p class="mb-0"><span class="head">Clinic:</span></p>
              <p class="mb-0"><span id="in"><%=@institution.name%></span></p>
            </div>
          <%end%>
          <div class="instdisp">
            <p class="mb-0"><span class="head">Practice:</span></p>
            <p class="mb-0"><span id="pn"><%=@practice.name%></span></p>
          </div>
        </div>
        <h2 class="d-flex justify-content-center p-3">Create a Translation Card</h2>
        <div class="create-infos justify-content-center">
          <p>Kenkou Match offers an ai-assisted 'study' card to help you describe your symptoms in Japanese.</p>
          <p>Enter your symptoms in the field below. <strong>Consider your phrasing</strong> - <i>Short prompts will return short responses.</i></p>
          <p>Instead of <span id="ex1">I have a headache</span>, consider saying <span id="ex2">I've had a headache for three days and the pain is most severe in the evening</span>.</p>
        </div>
        <%= simple_form_for [@practice, @card] do |f| %>
          <%= f.input :originalcontent, label: false, input_html: { maxlength: 150, placeholder: "Please describe your symptoms as specifically as possible" } %>
          <% unless @institution.nil? %>
            <%= f.input :institution_id, :as => :hidden, :input_html => { :value => @institution.id}%>
          <% end %>
          <div class='d-flex justify-content-between p-3'>
            <%= link_to "back", :back , {:class=>"btn btn-outline-danger fixed-width"} %>
            <%= f.submit "create card", class: "btn custom-button fixed-width",  data: { action: "click->spinner#showLoadingSpinner" } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
