<h1>Card Show Page</h1>
<%="#{@card.user.email}'s Card"%>
<%if @card.institution.present?%>
  <p><%="You're going to #{@card.institution.name}"%></p>
  <br>
  <%="located at: #{@card.institution.address}"%>
  <br>
  <%="they can be contacted here: #{@card.institution.phone}"%>
  <br>
  <%="website: #{@card.institution.address}"%>
  <br>
<%end%>
<p><%= "Here is user's original input: #{@card.originalcontent}"%></p>
<p><%="Here is a translation of your symptoms: #{@card.translatedcontent}"%></p>
<h2>Some keywords</h2>
<%@keywords.each do |keyword|%>
  <%keyword.each do |k,v|%>
    <p><%=k%>: <%=v%></p>
  <%end%>
<%end%>
<h2>Some useful phrases</h2>
<%@keyphrases.each do |phrase|%>
  <p><%=phrase%></p>
<%end%>
