<div class="card-show-body">
  <div id="banner-content">
    <div></div>
  </div>
  <div>
    <h1><%=@card.practice.name%> Card</h1>
    <% card_date = @card.created_at.strftime('%Y-%m-%d') %>
    <i>Created on: <%= card_date %></i>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-6 col-sm-12">
        <div class="card-show-container">
          <%if @card.institution.present?%>
            <div class="inner-header">
              <h1>You're Going To:</h1>
            </div>
            <div class="card-show-element">
              <h3><%="#{@card.institution.name}"%></h3>
              <%=  link_to 'detailed information', practice_institution_path(@card.practice, @card.institution.google_places_id)%>
              <p><%=@card.institution.address%></p>
              <p><%="phone: #{@card.institution.phone}"%></p>
              <p>website: <a href=<%= @card.institution.website %>><%=@card.institution.website%></a><p>
            </div>
          <%end%>
          <div class="inner-header">
            <h1>Your Input</h1>
          </div>
          <div class="card-show-element">
            <p><strong>Symptoms: </strong><%="#{@card.originalcontent}"%></p>
            <p><strong>Japanese Translation: </strong><%="#{@card.translatedcontent}"%></p>
          </div>
          <div data-controller="edit" data-edit-id-value="<%=@card.id%>">
            <div id="overlay" data-edit-target="overlay">
              <div class="spinner" data-edit-target="spinner"></div>
            </div>
            <div class="inner-header">
              <h1>Your Keywords</h1>
              <%=form_with url: redo_card_path(@card), data: { action: "submit->edit#edit" } do |form| %>
                <% form.submit "Generate More", class: "inner-header-btn h5" %>
              <%end%>
            </div>
            <div data-edit-target="edited" class="card-show-element" data-controller="savewordbutton">
              <%= render "jkeyword", keywords: @keywords, studywords: @studywords %>
            </div>
          </div>
          <div data-controller="editphrase" data-editphrase-id-value="<%=@card.id%>">
            <div id="overlay" data-editphrase-target="overlay">
              <div class="spinner" data-editphrase-target="spinner"></div>
            </div>
            <div class="inner-header">
              <h1>Useful Phrases</h1>
              <%=form_with url: redophrase_card_path(@card), data: { action: "submit->editphrase#edit" } do |form| %>
                <% form.submit "Generate More", class: "inner-header-btn h5" %>
              <%end%>
            </div>
            <div data-editphrase-target="phedited" class="card-show-element">
              <%= render "jphrase", phrases: @phrases%>
            </div>
          </div>
          <div class="del-btn-container">
            <%= link_to card_path(@card), data: { turbo_method: :delete, turbo_confirm: "delete this card?" } do %>
              <button class="del-btn">
                <h5 style="color: black;">Delete this Card</h5>
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
